<!DOCTYPE html>
<html>
<head>
    <style>
         html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                justify-content: center;
                align-items: center;
                background-color: rgb(19, 41, 62);
                color: aliceblue;
            }
    </style>
</head>
<body>
    <%- include("nav.ejs") %> <!-- Assuming nav.ejs includes your navigation markup -->
    <h1>Welcome to the Blog of the Block!</h1>
    <% for(post of postArray) { %>
        <h2><%= post.title %></h2>
        <p><%= post.body %></p>
        <hr>
    <% } %>
</body>
</html>
